/** @format */
//border 
.border-radius5 {
  border-radius: 5px !important;
}
//width 
.w-100p {
  width: 100px;
}
.w-104p {
  width: 104px;
}
.w-155p {
  width: 155px;
}
.w-165p {
  width: 165px;
}
//height 
.h-80 {
  height: 80%;
}
//min-width 
.min-width104p {
  min-width: 104px;
}
//max-width 
.max-width160p {
  max-width: 160px;
}
// padding
.pdl-10 {
  padding-left: 10% !important;
}
// max-height
.max-height45 {
  max-height: 45px;
}
//button 
.b-body-header {
  @extend .max-width160p;
  word-break: break-word;
}
.sidebar {
  height: 100vh;
  min-width: 300px;
  position: fixed !important;
  top: 0;
}
.negative-sidebar {
  height: 100vh;
  min-width: 50px;
  position: fixed !important;
  top: 0;
}
.sidebar-navLink {
  color: #ffffff99 !important;
  display: flex;
  flex: 1 1;
  align-items: center;
  padding: 0.8445rem 1rem;
  text-decoration: none;
  background: #3c4b64;
  transition: background 0.15s ease, color 0.15s ease;
  white-space: normal !important;
  text-align: left;
}
.sidebar-navLink-chil {
  text-decoration: none;
  color: #ffffff99 !important;
  white-space: normal !important;
}
.sidebar-nav .nav-group-items .nav-link {
  padding-left: 1.5rem !important;
  text-overflow: clip;
}
